/*Portfolio*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Dosis|Josefin+Sans');
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,800);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


#content {
  max-width: 600px;
  text-align: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content_2 {
  max-width: 600px;
  text-align: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#port{
  width:10%;
  margin-top:8%;
  margin-left: 5%;
  margin-bottom:3%;
}

#port h2 {
  font-family: "Dosis";
  font-size:30px;
  position:relative;
  color:#334431;
  
}

#back{
  width:5%;
  margin-left: 5%;
}
#back a{
  font-family:"Josefin Sans";
  text-decoration: none;
  color:#334431;
  position:relative;
}


#red_triangle {
  width:100%;
  height:100%;
  position:fixed;
  top: 0;
  left: 0;
  background-image: url("assets/yellowtop.png");
  background-size:30%;
  background-repeat:no-repeat;
  background-position:0 0;
  z-index:-1000;
}

#small_red {
  width:100%;
  height:30%;
  position:fixed;
  bottom: 0;
  right: 0;
  background-image: url("assets/pinklow.png");
  background-size:100%;
  background-repeat:no-repeat;
  z-index:-1000;
}



.project_name {
  font-family: 'Playfair Display', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  color: #000000;
  text-align: right;
  font-size: 16px;
  margin-bottom: 30px;
}

#willyb{
  width: 300px;
}
.project_name * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.project_name img {
  max-width: 500px;
  backface-visibility: hidden;
}
.project_name figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #F6C501;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}
.project_name figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #F6C501 transparent;
}

.project_name:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(242, 203, 188, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.project_name h3,
.project_name p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}

.project_name h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  opacity: 0.75;
}
.project_name p {
  font-size: 0.8em;
}

.project_name a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.project_name.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.project_name:hover:after,
.project_name:hover figcaption{
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}




