
body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: 'Harmattan', sans-serif;
}

#background-color {
	position: fixed;
	z-index: -100;
	width: 100%;
	height: 100%;
	transition: 1.5s;
}

a {
	text-decoration: none;
	color: black;
}

#left-sidebar-container {
	position: fixed;
	margin: 40px;
	z-index: 20;
}

#left-sidebar-container .social-link {
	text-decoration: none;
	margin-left: -5px;
	padding: 0px 5px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.current {
	background: rgba(255, 202, 71, 0.9);
	color: white;
}

#left-sidebar-container .social-link:hover {
	background: rgba(255, 202, 71,0.9);
	color: white
}

#logo {
	position: relative;
	width: 70px;
	margin-bottom: 30px;
	left: -5px;
}

#grid-container {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 10px;
	margin: 30px;
	transition: 0.1s ease-out;
	z-index: 30;
}

* {
  margin: 0;
  padding: 0; 
}



#nav-icon1 {
  width: 30px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background: rgba(18, 18, 18, 0.7);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/***** MENU *****/

#menu-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.95);
	top: 0;
	left: 0;
	z-index: 20;
	display: none;
}

#menu-overlay ul {
	text-align: center;
	font-size: 8vw;
	line-height: 1.5;
	position: relative;
	top: 50%;
	transform: translateY(-60%);
}

#menu-overlay li {
	width: intrinsic;
	margin: 0 auto;
	list-style-type: none;
	transition: 0.1s ease;
}


#menu-overlay li:hover {
	cursor: pointer;
	color: rgba(255, 202, 71, 1);
}

#intro {
	width: 50%;
	font-size: 4vmin;
	padding-left: 180px;
	padding-top: 100px;
}

#intro #highlight {
	border-bottom: 2px solid rgba(255, 202, 71, 1);
}

#project-title-container {
	position: absolute;
	z-index: 10;
	left: 180px;
	margin: 0 auto;
	width: 14vw;
}

.sticky-title-container {
	position: fixed;
}

.project-title {
	display: none;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 8vw;
	line-height: 0.8;
	letter-spacing: 10px;
	color: rgb(18, 18, 18);
}

.project-title:hover {
	cursor: pointer;
}

#p0 {
	display: block;
}

#about-container {
	position: fixed;
	bottom: 0px;
	margin: 40px;
	z-index: 20;
}

#about-container a {
	margin-left: -5px;
	padding: 0px 5px;
}

#about-container a:hover {
	background: rgb(18, 18, 18);
	color: white
}


#background-image-container {
	position: absolute;
	z-index: 1;
	width: calc(100%);
	margin-top: calc(60vh + 100px);
}

.project-image {
	max-width: 900px;
	min-width: 300px;
	width: 50%;
	margin-bottom: 10%;
	opacity: 0.95;
	margin-left: 35%;
	transition: 0.15s ease;
}

.project-image:last-child {
	margin-bottom: 40vh;
}

.project-image:hover {
	cursor: pointer;
	opacity: 1 !important;
}

.project-image:active {
	opacity: 0.6 !important;
}

/***** PROJECT PAGE ******/

.projectPageContents {
	position: absolute;
	top: 40px;
	left: 210px;
	width: calc(100vw - 340px);
	padding-bottom: 150px;
}

.project-page-title {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 15vw;
	line-height: 0.8;
	letter-spacing: 5px;
	color: rgb(62, 62, 62);
}

/*special case*/

.project-page-stats {
	margin-top: 30px;
}

.project-page-stats li {
	list-style: none;
	line-height: 1;
	letter-spacing: 2px;
	color: rgb(154, 154, 154);
	border-left: 10px solid rgba(255, 202, 71, 0.69);
	padding-left: 15px;
}

.project-page-description {
	margin: 30px 0px;
	width: 100%;
	min-width: 280px;
	max-width: 900px;
	font-size: 2em;
	line-height: 1.25;
}

.project-page-heading {
	display: inline-block;
	font-size: 3em;
	font-family: 'Reem Kufi';
	text-transform: lowercase;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-right: 50px;
	border-bottom: 5px solid rgba(255, 214, 9, 0.6);
}

.project-page-detail {
	color: rgb(154, 154, 154);
	width: 500px;
	display: block;
	margin: 0px auto;
	margin-bottom: 30px;
	text-align: center;
	margin-top: -20px;
}

.projectPageContents p {
	max-width: 600px;
	min-width: 250px;
	width: 100%;
	font-size: 1.5em;
	line-height: 1.3;
	margin: 30px;
	margin-left: 50%;
	transform: translateX(-60%);
	color: rgb(62, 62, 62);
}

.projectPageContents iframe {
	height: 600px;
	border: none;
	width: 600px;
	display: block;
	margin: 30px auto;
}

.projectPageContents a {
	color: rgba(255, 202, 71, 1);
}

.projectPageContents .highlight {
	background: rgba(255, 232, 170, 0.5);
	padding: 0px 3px;
}

.projectPageContents #quak-frame {
	transform: translateX(10px);
}

.project-page-quote {
	width: 80%;
	min-width: 200px;
	max-width: 600px;
	font-size: 1.5em;
	color: rgba(255, 214, 9, 0.8);
	margin-left: 50%;
	transform: translateX(-60%);
	font-family: 'Reem Kufi';
}

.projectPageContents li {
	font-size: 1.2em;
	color: rgb(62, 62, 62);
}

.projectPageContents ul {
	margin-left: 50%;
	transform: translateX(-60%);
	min-width: 300px;
}

.project-page-img {
	width: 60%;
	max-width: 1200px;
	min-width: 300px;
	margin: 30px;
	max-height: 70vh;
	object-fit: contain;
	margin-left: 50%;
	transform: translateX(-50%);
}

.project-page-img-wide {
	width: 90%;
	max-width: 1200px;
	min-width: 300px;
	max-height: 85%;
	object-fit: contain;
	margin: 30px;
}

.project-page-img-screens {
	margin: 30px;
	max-width: 1200px;
	min-width: 500px;
	text-align: center;
}

.project-page-img-screens img {
	width: 20%;
	margin: 0px 1%;
}

.shadow {
	box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.15);
	border: 1px solid rgb(227, 227, 227);
}

/***** ABOUT PAGE ****/

.aboutPageContents {
	position: absolute;
	top: 40px;
	left: 180px;
	width: calc(100vw - 310px);
	padding-bottom: 150px;
}


.aboutPageContents img {
	width: 400px;
	margin-top: 20px;
	margin-left: 480px;
}

.aboutPageContents #about-me {
	padding: 10px 50px;
	width: 350px;
	position: absolute;
	top: 200px;
	line-height: 2;
	text-align: justify;
}

.aboutPageContents p {
	display: inline;
	color: black;
}

.aboutPageContents a {
	color: white;
	text-decoration: underline;
}

#social-link-container {
	margin-top: 150px;
	margin-left: 50px;
}

#social-link-container a {
	color: black;
	padding: 15px;
}

#social-link-container a:hover {
	color: #ffca47;
;
}

/**** animating name****/

#name-animation {
	opacity: 0.4;
	aimation: fade-in 1.5s 4s ease forwards;
	-webkit-animation: fade-in 1.5s 4s ease forwards;
}

#name-animation h3 {
	position: relative;
	font-size: 100px;
	width: 950px;
	height: 130px;
	overflow: hidden;
	text-transform: lowercase;
	color: rgb(182, 182, 182);
	margin: 50px;
	margin-top: 30px;
	letter-spacing: 5px;
	font-weight: 300;
}

#name-animation ul {
	margin-top: 0;
	list-style: none;
	padding: 0;
}

#name-animation li {
	height: 100px;
	color: rgba(0,0,0,0.6);
}

#name-animation li:last-child {
	padding-top: 5px;
}

#name-animation #roles {
	-webkit-animation: text-roll 4s cubic-bezier(0.8, -0.3, 0.45, 1.25) forwards;
	animation: text-roll 4s cubic-bezier(0.8, -0.3, 0.45, 1.25) forwards;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	color: rgb(255, 112, 22); 
	position: absolute;
	display: inline-block;
}

@-webkit-keyframes text-roll {
	to {
		-webkit-transform: translateY(-705px);
		transform: translateY(-705px);
	}
}

@keyframes text-roll {
	to {
		-webkit-transform: translateY(-705px);
		transform: translateY(-705px);
	}
}

@-webkit-keyframes fade-in {
	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}

/**** end animation ****/

@media (max-width: 500px) {
	.project-image {
		margin-left: 10%;
		width: 80%;
		margin-bottom: 60%;
	}

	#project-title-container {
		left: 245px;
		margin-top: 60px;
		text-align: center;
		width: 70%;
		transform: rotate(90deg);
		display: none;
	}
	.project-title {
		font-size: 1.5em;
		letter-spacing: 3px;
		text-transform: uppercase;
		font-family: 'Harmattan';
		font-weight: 100;
		color: rgba(42, 42, 42, 0.77);
	}
	#intro {
		font-size: 1em;
		padding-left: 0px;
		width: 80%;
		margin: 0 auto;
	}
	#background-image-container {
		margin-top: 250px;
	}
	.projectPageContents {
		left: 5%;
		width: 90%;
	}
	#left-sidebar-container {
		left: -180px;
	}
	.projectPageContents p {
		margin: 0;
		transform: none;
	}
	.projectPageContents ul {
		margin: 0;
		margin-left: 15px;
		transform: none;
	}
	.project-page-quote {
		transform: none;
		margin: 0;
	}
	.project-page-img, .project-page-img-wide, .project-page-img-screens {
		transform: none;
		margin: 0;
		min-width: 100%;
	}
	.project-page-img-screens {
		margin-top: 15px;
	}
	.projectPageContents iframe {
		margin: 0;
		transform: none;
		width: 100%;
	}
	.project-page-detail {
		width: 100%;
		margin-top: 0px;
	}
	#about-container {
		display: none;
	}
}