
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Dosis|Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Questrial');


@keyframes animateYellow {
  0% { background-position: -900px -900px; opacity:0;}
  100% { background-position: 0 0; opacity:1;}
}

@keyframes animateGray{
  0% { background-position: 900px 900px; opacity:0;}
  100% { background-position: 0 0; opacity:1;}
}

@keyframes animateOpacity{
  0% {opacity:0;}
  100%{opacity:1;}
}

body {
  color:#334431;
  margin:0;
  padding:0;
  width:100%;
}

#wrapper {
  width: 90%;
  padding:5%;
  position:absolute;
  z-index:9999;
}

#container {
  overflow:auto;
  width:100%;
}

#name {
  font-family: "Dosis";
  width: 100%;
  height: 30px;
  margin-bottom:40px;
}

#name a{
  color:#334431;
  text-decoration:none;
}

#description {
  width: 100%;
  margin-bottom:40px;
  font-family: "Josefin Sans";
}

#social {
  margin-bottom:40px;
  
}

h1 {
  font-size: 36px;
  line-height:40px;
  font-family: 'Questrial';
  padding-top:0;
  margin-top:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:normal;
  color:#334431;
}

h2 {
  font-family: 'Dosis';
  text-transform: uppercase;
  font-size: 20px;
  margin-top:5px;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:normal;
  color:#334431;
}

#about_me{
  font-family:"Josefin Sans";
  size:20px;
  color:#334431;
  width:400px;
}

h3 {
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom:0;
  margin-bottom:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:normal;
  color:#334431;
}


#pink_triangle {
  width:100%;
  height:100%;
  position:fixed;
  top: 0;
  left: 0;
  background-image: url("assets/pink.png");
  background-size:115%;
  background-repeat:no-repeat;
  background-position:0 0;
  z-index:1;
  animation: animateYellow 0.4s ease-out;
  -moz-animation: animateYellow 0.4s ease-out;
  -webkit-animation: animateYellow 0.4s ease-out;
  -ms-animation: animateYellow 0.4s ease-out;
  -o-animation: animateYellow 0.4s ease-out;
}

#yellow_triangle {
  width:100%;
  height:30%;
  position:fixed;
  bottom: 0;
  right: 0;
  background-image: url("assets/yellow.png");
  background-size:100%;
  background-repeat:no-repeat;
  z-index:3;
  animation: animateGray 0.6s ease-out;
  -moz-animation: animateGray 0.6s ease-out;
  -webkit-animation: animateGray 0.6s ease-out;
  -ms-animation: animateGray 0.6s ease-out;
  -o-animation: animateGray 0.6s ease-out;
  -webkit-animation-delay: 0.1s; /* Chrome, Safari, Opera */
  animation-delay: 0.1s;
}

.contact {
    
    margin:0;
    padding:0;
    list-style:none;
}

.contact li {
    display:inline-block;
    *display:inline;
    zoom:1;
    padding-bottom:1px;
}

.contact li a {
    font-family:"Dosis"!important;
    font-style:normal;
    font-weight:700;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    line-height: 45px;
    font-size: 17px;
    margin-right: 12px;
    color:#334431;
  
  }

.contact li a:hover {
  font-size: 20px;
  text-decoration: underline;
}


.social{
    margin:0 !important;
}


@media (min-width: 500px) {
  h1 {
    font-size: 42px;
    line-height:46px;
    color:#334431;
  }

  h2 {
    font-size: 24px;
    color:#334431;
    }

  h3 {
  font-size: 16px;
  color:#334431;
  }

  #name {
    margin-bottom:60px;
    color:#334431;
  }

  #description {
  margin-bottom:60px;
  color:#334431;
  }

  #pink_triangle {
  background-size:75%;
  }
}

@media (min-width: 700px) {
  h1 {
  font-size: 56px;
  line-height:60px;
  color:#334431;
  }
  h2 {
  font-size: 26px;
  color:#334431;
  }
  h3 {
  font-size: 18px;
  color:#334431;
  }
  #name {
    margin-bottom:70px;
    color:#334431;
  }
  #description {
  margin-bottom:70px;
  color:#334431;
  }
  
  .social li a {
    line-height: 55px;
    font-size: 21px;
    color:#334431;
  }
  #pink_triangle {
  background-size:65%;
  }
}

@media (min-width: 1100px) {
  #wrapper{
    max-width:1000px;
  }
  h1 {
  font-size: 40px;
  line-height:42px;
  margin-bottom:0;
  color:#334431;

  }
  #description {
    width:80%;
    float:left;
    margin-right:40px;
    color:#334431;
  }
  #social {
    width:10%;
    float:left;
    color:#334431;
  }
  .social li {
    width:100%;
    margin-bottom:8px;
    color:#334431;
  }
  .social li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color:#334431;
  }

}



